
<div style="text-align:center;">
  <svg id="game1" width="320" height="320"></svg>
</div>

<ul class="actions" style="text-align: center; padding-top:0px; margin:0 0 1em 0">
  <li> <a id="leftKey" class="button" href="javascript:void(0);"  (click)="userActiont('-1f')" > < </a></li>
  <li> <a id="rightKey" class="button" href="javascript:void(0);" (click)="userActiont('1')" > > </a></li>
</ul>
<ul class="actions" style="text-align: center; padding-top:0px;">
  <li> <a id="restartKey" class="button" href="javascript:void(0);"  (click)="restartGamet()" >Restart</a></li>
</ul>
<script src="assets/MindReaderGame.js"></script>


